.wrapper{
    display: flex; //Colocar los elementos de forma horizontal
    justify-content: space-between; // Posicionar los elementos en polos opuestos
    padding: 0 1rem;
    align-items: center;
    align-content: center;
    // background-color: tomato;
    height: 3rem;
    box-shadow: 0 0 29px #3c3c6b;
    border-bottom: solid 1px #3d3f7b4d;
}

.section-2{
    .list-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .item-menu {
        cursor: pointer;
        padding: 0 1rem;
        transition: all ease 200ms;

        &:hover{
            opacity: .8;
        }
    }

    .item-number{
        color: var(--color-2);
        padding: 0 .5rem;
    }
}