.wrapper{
    padding: 1rem;
}

.title{
    font-size: 4rem;
}

.pre-title{
    padding: .5rem 0;
    color: #ffffffdb;
    font-family: 'IBM Plex Sans', sans-serif;
}

.sub-title{
    padding: .5rem 0;
}

.description{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: .2px;
    color: #ffffffdb;
}